<nav class="navbar navbar-expand-md navbar-light bg-dark">
  <div class="container-fluid">
    <a class="nav-link disabled mb-2 text-white" href="/">Rejestr Talonów</a>
    <a class="btn btn-warning mb-2" href="/compose">Dodaj Adres</a>
    <form class="d-flex" action="/search" method="post">
      <input name="address" class="form-control me-2" type="search" placeholder="Szukaj" aria-label="Search">
      <button class="btn btn-secondary" type="submit">Szukaj</button>
    </form>


  </div>
</nav>