<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <div class="container-fluid">
      <a class="nav-link disabled mb-2 text-white" href="/compose">Edytuj</a> 
      <a class="btn btn-primary mb-2" href="/">Rejestr Talonów</a>
      
    </div>
  </nav>