<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <div class="container-fluid">
        <a class="nav-link disabled mb-2 text-white" href="/search">Szukaj</a> 
      <a class="btn btn-primary mb-2 text-white" href="/">Rejestr Talonów</a>
      <a class="btn btn-warning mb-2" href="/compose">Dodaj Adres</a>
    </div>
  </nav>